@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: rgb(36, 76, 186);
}

::-webkit-scrollbar-thumb:hover {
  background: aqua;
}
